& {
  max-width: 50rem;
  height: 82rem;
  margin: 0 auto;

  .sort-asc,
  .sort-desc {
    height: 2rem;
    border-radius: 0.5rem;
    border: 10rem;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    background-color: #e91c50;
    color: #ffffff;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: lighten(#e91c50, 5%);
      text-decoration: underline;
    }

    &:active {
      background-color: darken(#e91c50, 10%);
    }
  }
}
